<!--
MIT License

Copyright (c) 2019 cheskape, Bryzeeboy, andiedioso

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

This is a course requirement for CS 192 Software Engineering II under the
supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of
Computer Science, College of Engineering, University of the Philippines,
Diliman for the AY 2018-2019.

Code History:
02/20/19
    -file created from rails new LF:Roomie
-->

<p id="notice"><%= notice %></p>

<h1>Basic Informations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Profile pic</th>
      <th>Birthday</th>
      <th>Address</th>
      <th>Sex</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @basic_informations.each do |basic_information| %>
      <tr>
        <td><%= basic_information.user_id %></td>
        <td><%= basic_information.firstname %></td>
        <td><%= basic_information.lastname %></td>
        <td><%= basic_information.profile_pic %></td>
        <td><%= basic_information.birthday %></td>
        <td><%= basic_information.address %></td>
        <td><%= basic_information.sex %></td>
        <td><%= link_to 'Show', basic_information %></td>
        <td><%= link_to 'Edit', edit_basic_information_path(basic_information) %></td>
        <td><%= link_to 'Destroy', basic_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Logout", destroy_user_session_path, method: :delete %>
