<!--
MIT License

Copyright (c) 2019 cheskape, Bryzeeboy, andiedioso

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

This is a course requirement for CS 192 Software Engineering II under the
supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of
Computer Science, College of Engineering, University of the Philippines,
Diliman for the AY 2018-2019.

*******************************************************************************************
Code History:
02/22/19
    => created file

04/05/19
    => aligned text to center
*******************************************************************************************
This is the Basic Information homepage. It shows your profile picture and your basic information
-->

<!-- Section for Navigation Bar -->
<div>

    <%= link_to root_path, class:"btn btn-warning" do   %>
        <i class="glyphicon glyphicon-home", style="align-content: center; color:white"> Home</i>
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-warning" do   %>
        <i class="glyphicon glyphicon-circle-arrow-right", style="align-content: center; color:white"> Logout</i>
    <% end %>

    <h1 style="text-align: center"> LF: Roomie</h1>

</div>

<p id="notice"><%= notice %></p>

<div class="container" style="display: flex; flex-direction: row; justify-content: center;">
    <div class="card border-dark text-dark" style="width:30rem;">
        <p>
            <%= image_tag(@basic_information.profile_pic_url) if @basic_information.profile_pic? %>
        </p>


        <div class="card-body">
          <h2 class="card-header bg-secondary border-dark"><%= @basic_information.firstname %> <%= @basic_information.lastname %></h2>
        </div>

        <ul class="list-group list-group-flash">
            <li class="list-group-item">                
                <strong>Birthday:</strong>
                <i><%= @basic_information.birthday %></i>                
            </li>
            

            <li class="list-group-item">
                <strong>Address:</strong>
                <%= @basic_information.address %>
            </li>

            <li class="list-group-item">
                <strong>Sex:</strong>
                <%= @basic_information.sex %>
            </li>

            <li class="list-group-item">
                <strong>Preferences: </strong>
                <% @preferences.each do |preference|%>
                    <p><%= preference.prefer%></p>
                <% end %>
            </li>
        </ul>
    </div>
</div>

<%= link_to edit_basic_information_path(@basic_information), class:"btn btn-warning" do   %>
    <i class="glyphicon glyphicon-edit", style="align-content: center; color:white"> Edit</i>
<% end %>

<%= link_to preferences_path(current_user.id), class:"btn btn-warning" do   %>
    <i class="glyphicon glyphicon-star", style="align-content: center; color:white"> View Preferences</i>
<% end %>