<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @basic_information.profile_pic_url %>
</p>

<p>
  <%= @basic_information.firstname %>
</p>

<p>
  <%= @basic_information.lastname %>
</p>



<p>
  <strong>Birthday:</strong>
  <%= @basic_information.birthday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @basic_information.address %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @basic_information.sex %>
</p>

<% @preferences.each do |preference|%>
    <p><%= preference.prefer%>
<% end %>

<%= link_to 'Edit', edit_basic_information_path(@basic_information) %>
<%= link_to 'Add Preferences', preferences_path %>
