<!--
MIT License
Copyright (c) 2019 cheskape, Bryzeeboy, andiedioso
Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
This is a course requirement for CS 192 Software Engineering II under the
supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of
Computer Science, College of Engineering, University of the Philippines,
Diliman for the AY 2018-2019.
*******************************************************************************************
Code History:
04/04/19
  => file created

04/05/19
  => added buttons and glyphicons
  
*******************************************************************************************
This is the View file that shows the conversations of the user.
-->


<!--% if messages.empty? %-->
    <!--h2>You have no messages yet</h2-->
<!--% end %-->

<!-- variable for saving the recepient -->
<% chat = current_user %>

<div class="container" style="display: flex; flex-direction: row; justify-content: center;">
    <div class="shadow-lg p-2 mb-4 rounded">
        <div class="card border-dark text-dark" style="width: 30rem">
            <div class="container p-3">
                <div class="media-left">
                    <a href="#">
                        <!-- gets the info of the recepient -->
                        <% conversation.recipients.each do |u|%>
                            <% if not u == current_user %>
                                <% chat = u %>
                            <% end %>
                        <%end%>

                        <!-- shows the picture of the recepient -->
                        <% if chat.basic_information.profile_pic? %>
                            <h1><%= image_tag(chat.basic_information.profile_pic_url) %></h1>
                        <% else %>
                            <h1><%= image_tag('default_user.jpg', height: '64', width: '64') %></h1>
                        <% end %>
                    </a>
                </div>

                <!-- shows the info of the conversation -->
                <div class="media-body">
                    <h4 class="media-heading">

                        <!-- shows the name of the recepient, date, time, and of the last message -->
                        <h2><b><%= chat.basic_information.firstname %></b></h2> <br>
                        <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
                    </h4>
                    <h5>Recent message:</h5> &nbsp;&nbsp;&nbsp;
                    <%= conversation.messages.last.sender.basic_information.firstname %>: <%= truncate conversation.messages.last.body, length: 145 %>
                    <br>

                    <!-- allows user to view the whole conversation -->
                    <%= link_to conversation_path(conversation), class:"btn btn-warning" do   %>
                        <i class="glyphicon glyphicon-eye-open", style="align-content: center; color:white"> View</i>
                    <% end %>
                    
                    <!-- allows user to trash a message -->
                    <% if conversation.is_trashed?(current_user) %>
                        <%= link_to 'Untrash', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %>
                    <% else %>
                        <%= link_to trash_conversation_path(conversation), method: :post, data: {confirm: 'Are you sure?'}, class:"btn btn-danger" do   %>
                            <i class="glyphicon glyphicon-trash", style="align-content: center; color:white"> Move to Trash</i>
                        <% end %>
                    <% end %> 
                </div>
            </div>
        </div>
    </div>
</div>
