<!--
MIT License
Copyright (c) 2019 cheskape, Bryzeeboy, andiedioso
Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
This is a course requirement for CS 192 Software Engineering II under the
supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of
Computer Science, College of Engineering, University of the Philippines,
Diliman for the AY 2018-2019.
*******************************************************************************************
Code History:
04/04/19
  => file created

04/05/19
  => added buttons and glyphicons
  
*******************************************************************************************
This is the View file that shows the conversations available to a user
-->


<div class="row">
    <div class="spacer"></div>
        <div class="col-md-12">
            <%= link_to "Compose", new_conversation_path, class: "btn btn-success" %>
        <div class="spacer"></div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <%= render 'mailbox/folders' %>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">

            <!-- displays the messages of the conversation -->
            <div class="panel-body">
                <%= render partial: 'messages' %>
            </div>

            <div class="panel-footer">

                <!-- allows user to reply to the conversation -->
                <%= form_for :message, url: reply_conversation_path(@conversation) do |f| %>

                <div class="form-group">
                      <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
                </div>

                <%= f.submit "Reply", class: 'btn btn-danger pull-right' %>

                <% end %>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>