<p id="notice"><%= notice %></p>

<h1>Preferences</h1>

<table>
  <thead>
    <tr>
      <th>Prefer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preferences.each do |preference| %>
      <tr>
        <td><%= preference.prefer %></td>
        <td><%= link_to 'Show', preference %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Suggest A New Preference', new_preference_path %>
<%= link_to 'Back To Basic Information', basic_informations_path%>
